// These colors are specific to the theme. Do not use in a package!

@ample-bg: #cBc9b1;
@region: #BBB9A1;
@region-dark: #ABA991;
@region-light: #D2D0B1;

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #959595;
@dark-gray: #959595;
@very-dark-gray: #757575;
@darkest-gray: #252525;

@cyan: #729773;
@light-blue: #68A5E9;
@blue: #528FD1;
@dark-blue: #4170B3;
@purple: #9B55C3;
@green: #4A8F30;
@dark-green: #057F40;
@light-green: #BBC8A1;
@red: #CD5542;
@dark-red: #9D2512;
@light-red: #CAB9A1;
@orange: #FF8512;
@light-orange: #f0c674;
@yellow: #787800;
@dark-yellow: #5d5c01;
@light-yellow: #BFBE6A;
